<div class="single-post">
  <div>
  <h2>{{name}}</h2>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  </div>
  <p>{{description}}</p>
</div>


{{#if logged_in}}
  <div class="card">
    <h3 class="card-header"></h3>
    <form class="card-body comment-form" id="comment-form">

        <label class="form-label">Comment</label>
        <input id="comment" name="comment-body" class="form-input" />

        <button type="submit" class="btn">Submit</button>
    </form>
  </div>
{{/if}}

{{> comments comments}}

{{#if logged_in}}
<script src="/js/commentPost.js"></script> 
